<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Create A New User</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="User Name" formControlName="name" #name>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Email" formControlName="email" #email>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Password" formControlName="password" #password>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="Username" formControlName="username" #username>
          </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/profiles">Back</button>&nbsp;
        <button type="submit" (click)="addUser(name.value, email.value, username.value, password.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>